/*
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

th, td {
  &.thin-column {
    width: 1%;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-30 {
  padding-right: 30px;
}

.with_count {
  margin-bottom: 0px;
}
